{% extends "public/templates/public_template.html" %}

{% block title %}About{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>About</h1>
      <br>
      <p>Blandit volutpat maecenas volutpat blandit aliquam etiam erat. Quisque egestas diam in arcu cursus euismod quis viverra nibh. Sodales ut eu sem integer vitae justo. Sed felis eget velit aliquet sagittis id consectetur purus ut. Auctor elit sed vulputate mi sit. Ipsum dolor sit amet consectetur adipiscing elit. Sed egestas egestas fringilla phasellus faucibus scelerisque eleifend. Nec dui nunc mattis enim ut tellus. Nisl tincidunt eget nullam non. Sit amet nulla facilisi morbi tempus. Vivamus arcu felis bibendum ut. In vitae turpis massa sed elementum tempus egestas. Neque vitae tempus quam pellentesque nec. Posuere lorem ipsum dolor sit amet consectetur adipiscing elit. Eget egestas purus viverra accumsan. Id velit ut tortor pretium viverra suspendisse potenti. Elementum curabitur vitae nunc sed velit dignissim sodales ut eu. Tempor commodo ullamcorper a lacus vestibulum sed arcu non. Lectus nulla at volutpat diam ut venenatis tellus. Tristique senectus et netus et malesuada.
      </p>
    </div>
  </div>
</div>

{% endblock %}
