{% extends "public/templates/public_template.html" %}

{% block title %}About{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>About</h1>
      <br>
      <p>Electric vehicles are a huge interest of mine so I wanted to do a data science project on them. The three main tasks of this project are:
<ul>

<li>Explorative Data Analysis</li>
  <ul>
 <li> This is done in several sections. The data tab shows all the data in one place for ease of being able to look at the full data set</li>
<li> The comparison section allows you to explore the difference in ranges between electric vehicles as well as compare the metrics side by side</li>
  </ul>
<li> The Data visualization for this project was a bit challenging as I didn't just want to have an image of a map with the radiuses of the vehicles, I wanted to allow the user to interact with the map. That meant I had to find a way to embed a plotly object which was much tougher than expected.</li>
<li> Also, I had to acquire a secondary data set that listed the US zip codes as well as the latitude and longitude locations. This allows every physical zip code in the Continental US to be used in this analysis.</li>
<li> Lastly, I used a content-based recommender system based on all the individual metrics of each electric vehicle to give the user 10 other vehicles that are very similar.</li>
</ul>
      </p>
    </div>
  </div>
</div>

{% endblock %}
